@import "./base.css";

header {
  background-color: var(--color-purple-primary);
  padding: 1rem 0;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .logo {
  display: inline-block;
  width: 95.76px;
}

header .access-link {
  color: var(--color-white);
  text-decoration: none;
  transition: all 0.4s ease;
  border-bottom: 2px solid var(--color-lime);
  font-size: var(--font-base-sm);
  position: relative;
  z-index: 2;
}

header .access-link::after {
  content: "";
  width: 100%;
  height: 2px;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-lime);
  transition: all 0.4s ease;
}

header .access-link:hover {
  color: var(--color-purple-primary);
}

header .access-link:hover::after {
  height: 75%;
}

.banner {
  background-color: var(--color-purple-primary);
  color: var(--color-white);
  text-align: center;
  position: relative;
}

.banner-img {
  /* position: relative; */
  position: absolute;
  background-color: transparent;
  z-index: 100;
  transform: translateY(30%);
}

.banner-img img {
  /* transform: translateY(10px); */
}

.curve::after {
  z-index: 3;
  content: "";
  position: absolute;
  bottom: -3rem;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: var(--color-purple-primary);
  border-bottom-left-radius: 100% 50%;
  border-bottom-right-radius: 100% 50%;
}

.curve:nth-of-type(2):after {
  background-color: var(--color-purple-light);
  border-bottom-left-radius: 100% 40%;
  border-bottom-right-radius: 100% 40%;
  height: 10%;
}

.steps {
  background-color: var(--color-purple-light);
  color: var(--color-purple-medium);
  text-align: center;
  position: relative;
  padding-top: 16rem;
  z-index: 1;
  /* transform: translateY(5rem); */
}

.steps h2 {
  color: var(--color-purple-primary);
  margin-bottom: 1rem;
}

.steps-num {
  color: var(--color-purple-primary);

  font-family: var(--font-family-heading);
  font-size: 2rem;
  border: 1.5px solid var(--color-purple-primary);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
}

.steps li:not(:last-of-type) {
  margin-bottom: 2rem;
}

.first {
  text-align: center;
  padding-top: 6rem;
}

.first-img {
  position: relative;
  transform: translateY(55px);
  z-index: -1;
}

.first-content {
  position: relative;
  z-index: 2;
  background-color: var(--color-purple-primary);
  color: var(--color-white);
  padding: 1.75rem;
}

.first-content h2 {
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-lime);
}

.first-content p {
  margin-bottom: 1rem;
}

footer {
  text-align: center;
}

.footer-img {
  width: 96px;
  margin: 0 auto 2rem;
}

footer ul {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  gap: 1rem;
}
